*.elf
*.bin
*.map
*.o
*.asm
.gdb_history
tools/qemu/win/w64-202107062
tools/toolchain/xpack/xpack-arm-none-eabi-gcc-10.2.1-1.1-win32-x64
tools/toolchain/xpack/xpack-windows-build-tools-4.2.1-2-win32-x64
tools/toolchain/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi
tools/toolchain/gcc-arm-none-eabi-10-2020-q4-major/bin
tools/toolchain/gcc-arm-none-eabi-10-2020-q4-major/lib
tools/toolchain/gcc-arm-none-eabi-10-2020-q4-major/share
tools/MSYS-Update/MSYS
tools/trace32_simulation/dump
tools/exception/wireshark/dump/
**/*.asm
**/*.hex
**/*.pyc
**/*.python-version
main/**/*.exe
**/CSerialPort
**/cutest
**/CmBacktrace
**/early-bringup-tool
**/*gdb_history
**/build